body{
    background-color: rgb(255, 255, 255);
    margin: 20px 10px 10px 20px;
}
/* navegador */
nav{
    position: static;
    padding-top: 10px;
    background-color: transparent;
    width: 100%;
    height: 110px;
    background-color: rgba(199, 197, 197, 0.1);
    font-size: 30px;
    margin-right: 30px;
    border-radius: 30px;
    
}
#nav1{
    display: flex;
    gap: 100px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: black;
    
}

nav a:hover{
    color: rgb(142, 138, 138);
}

#maintype{
    padding-right: 600px;
    padding-left: 250px;
}
li{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* bloue 1  */
#visual{
    background-image: url(./gym5.5.png) ;
}

#visual1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
#mainphrase{
    margin-top: 100px;
    color: rgb(0, 0, 0);
   
    font-size: 100px;
}
#secphrase{
    font-size: 30px;
    color: rgb(0, 0, 0);
}

#unete{
    border: 1px solid white;
    display: block;
    margin: 0 auto;
    border-radius: 40px;
    height: 40px ;
    width: 200px ;
    margin-top: 50px;
    background-color: transparent;
    font-size: 25px;
}
#unete a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}

#unete a:hover{
    color: rgb(210, 208, 208);
}

#cardsmain{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 100px;
    padding-bottom: 60px;
}

.cards{
    width: 300px;
    height: 150px;
    border: 5px solid transparent;
    margin: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    color: aliceblue;
  
}

/* bloque 2  */

#maingym{
    display: flex;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 50px;
}
#titulo{
    font-size: 40px;
}
#textcounter{
    padding-left: 200px;
    padding-top: 50px;
}

#principalgym{
    text-align: center;
}

#principalgym img{
    border-radius: 50px;
}

/* bloque 3  */
#galeria{
    padding-top: 50px;
    text-align: center;
 
}
#txtgaleria{
    padding-bottom: 30px;
    font-size: 40px;
}
#imggaleria{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    
}
.fotos{
    margin-right: 30px;
   
}

.fotos img{
    border-radius: 20px;
}


/* PAGINA DE EJERCICIOS  */


/* bloque 1 */

.parts{
    text-align: center;
}
#maintext{
    font-size: 40px;
}

.part1images{
    padding-top: 40px;
    text-align: center;
}

.part1images img  {
    
    border-radius: 20px;
    margin-right: 30px;
}

.part1txt{
    display: flex;
    justify-content: center;

}
.part1txt h2{
    text-align: center;
    font-size: 30px;
}
.part1txt p{
    text-align: center;
    font-size: 20px;
}
.part1txt button{
    width: 200px;
    height: 50px;
    border-radius: 30px;
    color: black;
    background-color: transparent;
    font-size: 20px;

}

.part1txt button a{
    text-decoration: none;
    color: rgb(0, 0, 0);

}

.part1txt button a:hover{
    text-decoration: none;
    color: rgb(177, 174, 174);

}

.separacion2{
    padding-top: 60px;
    padding-left: 300px;
}

/* Bloque 2*/

#ejervariados{
    padding-top: 40px;
}
#phrase1{
    font-size: 20px;
}

.variados{
    text-align: center;
    
}
.variados img{
    margin-right: 40px;
    margin-bottom:  40px;
    border-radius: 40px;
}


        /* Pagina progreso */

#progreso{
    text-align: center;
    font-size: 30px;
}
#progreso p{
    font-size: 20px;
}

#cardsprogreso{
    display: flex;
    text-align: center;
    justify-content: center;
    
}
.aaaa{
    margin-right: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
    
}
.aaaa img{
    border-radius: 40px;
}
.aaaa h2 a{
    text-decoration: none;
    color: black;
}

.aaaa h2 a:hover{
    text-decoration: none;
    color: rgb(128, 127, 127);
}